body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgba(0, 0, 0);
    color: beige;
    padding: 1rem;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: large;
    font-family: 'Workbench', sans-serif;
    text-decoration: none;
    color: white;
}

.nav-btns {
    display: flex;
}

.btn-nav {
    width: 5rem;
    height: 1.5rem;
    margin-right: 13px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.btn-nav:hover {
    background-color: black;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
}
.section {
    margin-top: 40px;
}

.section h2 {
    font-size: 2rem;
}

.section-content {
    max-width: 600px;
    margin-top: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: auto;
}

  .experience {
    max-width: 800px;
    margin:  20vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
  }

  .experience-item {
    margin-bottom: 20px;
  }

  .experience-item h2 {
    margin-bottom: 10px;
  }

  .experience-item p {
    margin-bottom: 5px;
  }